<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
  <footer>
    <div class="back-to-top">
      <a href="#hero"><i class="fas fa-chevron-up"></i></a>
    </div>
    <div class="footer-content" id="footer">
      <div class="footer-content-about animate-top">
        <h4>About Us</h4>
        <p>
        The vision of this project is to provide tracks to beginners in different fields of technology like AI, ML, Web Development, App Development etc. All the tracks are arranged in sequential order and all contents are FREE.
    </p>
      </div>
      <div class="footer-content-divider animate-bottom">
    <div class="social-media">
      <h4>Follow us</h4>
      <ul class="social-icons">
        <a href="https://facebook.com/Webwiz" class="footer__icon"><i class="fab fa-facebook" aria-hidden="true"></i>&nbsp;</a>
        <a href="https://instagram.com/webwiz.nitr" class="footer__icon"><i class="fab fa-instagram" aria-hidden="true"></i>&nbsp;</a>
        <a href="https://twitter.com/webwiznitr" class="footer__icon"><i class="fab fa-twitter" aria-hidden="true"></i>&nbsp;</a>
        <a href="https://www.linkedin.com/company/webwiz-nitr" class="footer__icon"><i class="fab fa-linkedin" aria-hidden="true"></i>&nbsp;</a>
        <a href="https://github.com/Webwiznitr" class="footer__icon"><i class="fab fa-github" aria-hidden="true"></i>&nbsp;</a>
      </ul>
    </div>
    <div>
      <p><h4>Links</h4></p>
      <ul class="navlist">
        <li class="navitem">
          <a href="/" class="navlink">Home</a>
        </li>
        <li class="navitem">
          <a href="/#topics" class="navlink">Topics</a>
        </li>
        <li class="navitem">
          <a href="#footer" class="navlink">Contact</a>
        </li>
      </ul>
    </div>
      </div>
    </div>
    <div class="copyright animate-bottom">
      <h4>&copy; Copyright 2020 Project Basil, All Rights Reserved</h4>
    </div>
  </footer>
    
</body>
</html>
