*{
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
background-color: #BDC2CF;
}

h1{
  text-shadow: 2px 2px;
  text-align: center;
}
a{
  text-decoration: none;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(151, 223, 245));

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;/*this is by which the actual parallax is created*/

  /*below is just for centering and stuff*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body{
  /*height: 100vh;*/
  /*background-size: cover;*/
  display: flex;
  align-items: center;
  justify-content: center;

}

.profile-card{
  width: 350px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin:50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profile-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-header{
  /*background:url(images/aiWallpaper.jpeg) no-repeat center;*/
  padding: 60px 40px;
  border: 2px solid black;
  height: 200px;
  /*border-radius: 20px;*/
  object-fit:contain;
}


#one{
  background:url('images/aiwallpaper.jpeg');
  background-size: 100%;
}
#two{
  background:url('images/machinelearning.jpg');
  background-size: 100%;
}
#three{
  background:url('images/appdev.jpg');
  background-size: 100%;
}
#four{
  background:url('images/web.jpg');
  background-size: 100%;
}
#five{
  background:url('images/cyber.jpg');
  background-size: 100%;
}
#six{
  background:url('images/cc.jpg');
  background-size: 100%;
}


.pic{
  display: inline-block;
}
/*
@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}*/

.pic img{
  display: block;
  width: 200px;
  height: 300px;
  border-radius: 50%;
}

.name{
  color: #263566;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
  padding-bottom: 10px;
}

.desc{
  font-size: 18px;
  color: #e66767;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/*.sm a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}*/

/*.sm a:hover{
  color: #e66767;
}*/

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #e66767;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background: #e66767;
  color: #f2f2f2;
}

.card-footer{
  background: #ffffff;
  padding: 30px 10px;
  margin-top: 0px;
  /*border-radius: 80px;*/
}

.numbers{
  display: flex;
  align-items: center;
}

.item{
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: black;
}

.item span{
  display: block;
  color: black;
  font-size: 20px;
}

.border{
  width: 1px;
  height: 40px;
  background: #bbb;
}
