*{
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
.parallax {
  /* The image used */
  background-image: url("images/abstract.jpg");

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;/*this is by which the actual parallax is created*/

  /*below is just for centering and stuff*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body{
  /*height: 100vh;*/
  /*background-size: cover;*/
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.profile-card{
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin:20px;
}


.card-header{
  /*background:url(images/aiWallpaper.jpeg) no-repeat center;*/
  padding: 60px 40px;
  border: 2px solid black;
  /*border-radius: 20px;*/
}
#one{
  background:url('images/aiwallpaper.jpeg');
  background-size: 100%;
}
#two{
  background:url('images/machinelearning.jpg');
  background-size: 100%;
}
#three{
  background:url('images/appdev.jpg');
  background-size: 100%;
}
#four{
  background:url('images/web.jpg');
  background-size: 100%;
}
#five{
  background:url('images/cyber.jpg');
  background-size: 100%;
}
#six{
  background:url('images/cc.jpg');
  background-size: 100%;
}


.pic{
  display: inline-block;
}
/*
@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}*/

.pic img{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #e66767;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.sm a:hover{
  color: #e66767;
}

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #e66767;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background: #e66767;
  color: #f2f2f2;
}

.card-footer{
  background: #000000;
  padding: 30px 10px;
  margin-top: 5px;
  /*border-radius: 80px;*/
}

.numbers{
  display: flex;
  align-items: center;
}

.item{
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #e66767;
}

.item span{
  display: block;
  color: white;
  font-size: 20px;
}

.border{
  width: 1px;
  height: 40px;
  background: #bbb;
}

