
    <%- include("partials/header")-%>
    <!--Header ends-->
    <section class="hero" id="hero">
        <div class="container">
            <h1 class="headline-main">BackEnd</h1>
            <div class="headline-description">
                <div class="seperator">
                  <div class="line line-left"></div>
                  <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                  <div class="line line-right"></div>
                </div>
              </div>
            </div>
            </section>
    <!--Hero ends-->
    <div class="parallax">
    <div id="topic-wrapper">
    <!--row1-->
    <div class="container-fluid" id="topics">
        <div class="row  justify-content-around">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="profile-card">
              <a href="/django">
              <div class="card-header" style="background-image: url('img/django.png'); background-size: 100%;">
                <div class="overlay">
                <div class="name">Django</div>
              </div>
              </div>
            </a>
            </div>
          </div>
        <!--2nd box-->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/mongodb">
            <div class="card-header" style="background-image: url('img/mongo.png'); background-size: 100%;">
              <div class="overlay">
                <div class="name">MongoDB</div>
            </div>
            </div>
          </a>
            </div>
          </div>
        <!-- 3rd box-->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/nodejs">
            <div class="card-header" style="background-image: url('img/node.jpg'); background-size: 100%;">
              <div class="overlay">
                <div class="name">Node.js</div>
            </div>
            </div>
          </a>
            </div>
          </div>
        </div>
        </div>
        
    <!--row2-->
    <div class="container-fluid" id="topics">
      <div class="row  justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/php">
            <div class="card-header" style="background-image: url('img/php.png'); background-size: 100%;" >
              <div class="overlay">
              <div class="name">PHP</div>
            </div>
            </div>
          </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/ruby">
          <div class="card-header"  style="background-image: url('img/ruby.png'); background-size: 100%;" >
            <div class="overlay">
            <div class="name">Ruby</div>
          </div>
          </div>
        </a>
        </div>
      </div>
      
    </div>
  </div>
      
      
</body>
<%- include("partials/footer") -%>
</html>

