
    <%- include("partials/header")-%>
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="sub-headline">
                <span class="first-letter">P</span>roject
            </h2>
            <h1 class="headline-main">Basil</h1>
            <div class="headline-description">
                <div class="seperator">
                    <div class="line line-left"></div>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <div class="line line-right"></div>
                </div>
                <div class="single-animation">
                    <h5>Great skills to learn</h5>
                    <h6>~ 2020 ~</h6>
                </div>
            </div>
        </div>
    </section>
    <!--Hero ends-->
    <div class="parallax">
    <div id="topic-wrapper">
      
    <!--row1-->
    <div class="container-fluid" id="topics">
    <div class="row  justify-content-around">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/python">
          <div class="card-header" style="background-image: url('img/python.jpg'); background-size: 100%;">
            <div class="overlay">
            <div class="name">Python</div>
          </div>
          </div>
        </a>
        </div>
      </div>
    <!--2nd box-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="profile-card">
        <a href="/machinelearning">
        <div class="card-header"  style="background-image: url('img/machinelearning.jpg'); background-size: 100%;">
          <div class="overlay">
          <div class="name">Machine Learning</div>
        </div>
        </div>
      </a>
      </div>
    </div>
    <!-- 3rd box-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="profile-card">
        <a href="/deeplearning">
        <div class="card-header" style="background-image: url('img/deepLearning.jpg'); background-size: 100%;">
          <div class="overlay">
            <div class="name">Deep Learning</div>
        </div>
        </div>
      </a>
        </div>
      </div>
    </div>
    </div>
    
    <!--2nd row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/android">
              <div class="card-header" style="background-image: url('img/android.jpg'); background-size: 100%;">
                <div class="overlay">
                  <div class="name">Android Development</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/backend">
            <div class="card-header" style="background-image: url('img/backEnd.jpg'); background-size: 100%;">
              <div class="overlay">
                <div class="name">BackEnd Development</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/frontend">
          <div class="card-header" style="background-image: url('img/frontEnd.jpg'); background-size: 100%;" >
            <div class="overlay">
              <div class="name">FrontEnd Development</div>
            </div>
          </div>
      </a>
      </div>
    </div>
  </div>
</div>

        <!--3rd row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/datastructure">
              <div class="card-header" style="background-image: url('img/dataStructures.png'); background-size: 100%;">
                <div class="overlay">
                  <div class="name">Data Structures</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/c">
            <div class="card-header" style="background-image: url('img/C.jpg'); background-size: 100%;">
              <div class="overlay">
                <div class="name">C Language</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/cpp">
          <div class="card-header" style="background-image: url('img/cpp.png'); background-size: 100%;">
            <div class="overlay">
              <div class="name">C++ Language</div>
            </div>
          </div>
      </a>
      </div>
    </div>
  </div>
</div>
        <!--4th row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/git">
              <div class="card-header" style="background-image: url('img/git.jpg'); background-size: 100%;">
                <div class="overlay">
                  <div class="name">Git and Github</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/rlanguage">
            <div class="card-header" style="background-image: url('img/r.jpg'); background-size: 100%;">
              <div class="overlay">
                <div class="name">R Language</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/haskell">
          <div class="card-header" style="background-image: url('img/haskell.jpg'); background-size: 100%;" >
            <div class="overlay">
              <div class="name">Haskell</div>
            </div>
          </div>
      </a>
      </div>
    </div>
  </div>
</div>

        <!--5th row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/go">
          <div class="card-header" style="background-image: url('img/go.jpg'); background-size: 100%;">
            <div class="overlay">
              <div class="name">Go Language</div>
            </div>
          </div>
      </a>
      </div>
    </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/prolog">
            <div class="card-header" style="background-image: url('img/prolog.jpg'); background-size: 100%;">
              <div class="overlay">
                <div class="name">Prolog</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/c#">
          <div class="card-header" style="background-image: url('img/csharp.jpg'); background-size: 100%;">
            <div class="overlay">
              <div class="name">C# Language</div>
            </div>
          </div>
      </a>
      </div>
    </div>
  </div>
</div>
            <!--6th row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/scala">
              <div class="card-header" style="background-image: url('img/scala.jpg'); background-size: 100%;" >
                <div class="overlay">
                  <div class="name">Scala</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/matlab">
            <div class="card-header" id ="five" style="background-image: url('img/matlab.jpg'); background-size: 100%;">
              <div class="overlay">
                <div class="name">MATLAB</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
  </div>
</div>
</body>
<%- include("partials/footer") -%>
</html>

