<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header")-%>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Basil</title>
</head>
<body>
   
    <div class="back-to-top">
        <a href="#hero"><i class="fas fa-chevron-up"></i></a>
    </div>
      <header>
        <div class="container">
            <nav class="navb">
                <div class="menutoggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="index.html" class="logo"><img src="img/logo_of_webwiz-removebg-preview.png" alt=""></a>
                <ul class="navlist">
                    <li class="navitem">
                        <a href="index.html" class="navlink">Home</a>
                    </li>
                    <li class="navitem">
                        <a href="#topics" class="navlink">Topics</a>
                    </li>
                    <li class="navitem">
                        <a href="#footer" class="navlink">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Header ends-->
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="sub-headline">
                <span class="first-letter">P</span>roject
            </h2>
            <h1 class="headline-main">Basil</h1>
            <div class="headline-description">
                <div class="seperator">
                    <div class="line line-left"></div>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <div class="line line-right"></div>
                </div>
                <div class="single-animation">
                    <h5>Great skills to learn</h5>
                    <h6>~ 2020 ~</h6>
                </div>
            </div>
        </div>
    </section>
    <!--Hero ends-->
    <div class="parallax">
    <div id="topic-wrapper">
      
    <!-- Terms we will use to define categories Beginner Amateur Semi pro Professional Word class-->
    <!--row1-->
    <div class="container-fluid" id="topics">
    <div class="row  justify-content-around">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/python">
          <div class="card-header" id="one" >
            <div class="overlay">
            <div class="name">Python</div>
          </div>
          </div>
        </a>
        </div>
      </div>
    <!--2nd box-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="profile-card">
        <a href="/machinelearning">
        <div class="card-header"  id="two" >
          <div class="overlay">
          <div class="name">Machine Learning</div>
        </div>
        </div>
      </a>
      </div>
    </div>
    <!-- 3rd box-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="profile-card">
        <a href="/deeplearning">
        <div class="card-header" id="three">
          <div class="overlay">
            <div class="name">Deep Learning</div>
        </div>
        </div>
      </a>
        </div>
      </div>
    </div>
    </div>
    
    <!--2nd row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/android">
              <div class="card-header" id="four" >
                <div class="overlay">
                  <div class="name">Android Development</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/backend">
            <div class="card-header" id ="five" >
              <div class="overlay">
                <div class="name">BackEnd Development</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/frontend">
          <div class="card-header" id="six" >
            <div class="overlay">
              <div class="name">FrontEnd Development</div>
            </div>
          </div>
      </a>
      </div>
    </div>

        <!--3rd row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/datastructure">
              <div class="card-header" id="four" >
                <div class="overlay">
                  <div class="name">Data Structures</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/c">
            <div class="card-header" id ="five" >
              <div class="overlay">
                <div class="name">C Language</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/cpp">
          <div class="card-header" id="six" >
            <div class="overlay">
              <div class="name">C++ Language</div>
            </div>
          </div>
      </a>
      </div>
    </div>

        <!--4th row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/git">
              <div class="card-header" id="four" >
                <div class="overlay">
                  <div class="name">Git and Github</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/rlanguage">
            <div class="card-header" id ="five" >
              <div class="overlay">
                <div class="name">R Language</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/haskell">
          <div class="card-header" id="six" >
            <div class="overlay">
              <div class="name">Haskell</div>
            </div>
          </div>
      </a>
      </div>
    </div>

        <!--5th row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/mongodb">
              <div class="card-header" id="four" >
                <div class="overlay">
                  <div class="name">MongoDB</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/prolog">
            <div class="card-header" id ="five" >
              <div class="overlay">
                <div class="name">Prolog</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/c#>
          <div class="card-header" id="six" >
            <div class="overlay">
              <div class="name">C# Language</div>
            </div>
          </div>
      </a>
      </div>
    </div>
</body>
<%- include("partials/footer") -%>
</html>

