@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Magra', sans-serif;
    --secondary-font: 'Billy Ohio', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #95ecf6;
    --secondary-font-color1: #b98eec;
    --body-font-color: #515151;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

section{
    padding: 3.9rem 0;
    overflow: hidden;
}

img{
    padding-top: 6rem;
    padding-left: 5rem;
    width: 30%;
    max-width: 30%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/*Header*/
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.navb{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menutoggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times{
    display: none;
}

.navlist{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.navb::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .navlist{
    transform: translateX(0);
}

.open .navb::before{
    opacity: 1;
    transform: scale(1);
}

.navitem{
    border-bottom: 2px solid rgba(255,255,255, .3);
}

.navlink{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;
}

.navlink:hover{
    color: var(--secondary-font-color);
}


/*Hero*/
.hero{
    width: 100%;
    height: 100vh;
    background: url("../img/header.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline{
    font-size: 5.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: .36;
    letter-spacing: 2px;
    position: relative;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
    z-index: 1;
}

.first-letter{
    text-transform: uppercase;
    position: relative;
    font-size: 10.3rem;
    z-index: 1;
}

.headline-main{
    color: #fff;
    font-size: 8vh;
    font-family: var(--main-font);
    /*text-transform: uppercase;*/
    font-weight: 700;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    margin-bottom: 0.2rem;
    animation: scale .5s forwards;
}

.headline{
    color: #fff;
    position: relative;
    font-size: 8vh;
    font-family: var(--main-font);
    /*text-transform: uppercase;*/
    font-weight: 400;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}

.seperator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 100%;
    max-width: 15.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before{
    border-right-color: #fff;
    right: 0;
}

.line-left::before{
    border-left-color: #fff;
    left: 0;
}

.asterisk{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 0.9rem;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.headline-description h6{
    color: #fff;
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn{
    display: inline-block;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn{
    font-size: 1.1rem;
    background-color: var(--secondary-font-color);
    padding: .9rem 1.8rem;
    color: #fff;
    border-radius: .4rem;
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus{
    color: #fff;
    background-color: var(--secondary-font-color);
}

.body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;
}

.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}

.body-btn:hover,
.body-btn:focus{
    color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before{
    background-color: var(--main-font-color-dark);
}


/*Topics*/
#topics{
  margin-top: 4%;
}
.profile-card{
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin:20px;
}



.card-header{
  padding: 60px 40px;
  border: 2px solid black;
  /*border-radius: 20px;*/
}


#one{
  background:url('../img/aiWallpaper.jpeg');
  background-size: 100%;
}
#two{
  background:url('../img/machinelearning.jpg');
  background-size: 100%;
}
#three{
  background:url('../img/appdev.jpg');
  background-size: 100%;
}
#four{
  background:url('../img/web.jpg');
  background-size: 100%;
}
#five{
  background:url('../img/cyber.jpg');
  background-size: 100%;
}
#six{
  background:url('../img/cc.jpg');
  background-size: 100%;
}


.pic{
  display: inline-block;
}
/*
@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}*/

.pic img{
  display: block;
  width: 200px;
  height: 300px;
  border-radius: 50%;
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}
.name:hover {
  font-size: 30px;
  transition: .5s;
  text-shadow: 1px 1px 10px #121212;
}

.desc{
  font-size: 18px;
  color: #e66767;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/*.sm a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}*/

/*.sm a:hover{
  color: #e66767;
}*/

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #e66767;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background: #e66767;
  color: #f2f2f2;
}

.card-footer{
  background: #000000;
  padding: 30px 10px;
  margin-top: 5px;
  /*border-radius: 80px;*/
}

.numbers{
  display: flex;
  align-items: center;
}

.item{
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #e66767;
}

.item span{
  display: block;
  color: white;
  font-size: 20px;
}

.border{
  width: 1px;
  height: 40px;
  background: #bbb;
}



/*Footer*/
footer{
  margin-top: 5%;
  width: 100%;
  padding: 7.9rem 0;
  background: url("../img/footer.jpg") center no-repeat;
  color: #fff;
  text-align: center;
  position: relative;
}

.back-to-top{
  width: 7rem;
  height: 7rem;
  background-color: #2a00e3;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top i{
  display: block;
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  animation: up 2s infinite;
}

.footer-content{
  overflow: hidden;
}

.footer-content h4{
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

.footer-content .asterisk{
  margin: 2.4rem 0;
}

.footer-content-about{
  margin-bottom: 5.4rem;
}

.footer-content-about p{
  line-height: 2;
}

.footer-content-divider p{
  line-height: 2;
  font-size: 1.5rem;
}

.social-icons{
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

.social-icons i{
  font-size: 2rem;
  color: #fff;
  padding: .8rem 2rem;
  opacity: .5;
  transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus{
  color: var(--secondary-font-color1);
}

.newsletter-form{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.newsletter-input{
  width: 100%;
  color: #121212;
  max-width: 17.5rem;
  padding: 1rem;
  border-radius: .2rem;
  border: 1px solid #12121275;
}

.newsletter-btn{
  background-color: transparent;
  border: none;
  color: var(--main-font-color-dark);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1px .6rem;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  margin-left: 12rem;
}

.copyright h4{
  color: #fff;
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 1.2rem;
  margin-right: -3px;
}

/*Media queries*/
@media screen and (min-width: 900px) {
  section{
      padding: 7.9rem;
  }

  .menutoggle{
      display: none;
  }

  .navb{
      justify-content: space-between;
  }

  .navlist{
      position: initial;
      width: initial;
      height: initial;
      background-color: transparent;
      padding: 0;
      justify-content: initial;
      flex-direction: row;
      transform: initial;
      transition: initial;
  }

  .navitem{
      margin: 0 2.4rem;
      border: none;
  }

  .navitem:last-child{
      margin-right: 0;
  }

  .navlink{
      font-size: 1.3rem;
  }

  .active{
      position: relative;
  }

  .active::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      left: 0;
      bottom: -3px;
  }

  .sub-headline{
      font-size: 8rem;
  }

  .sub-headline1{
      font-size: 8rem;
  }

  .sub-headline2{
      font-size: 8rem;
  }

  .first-letter{
      font-size: 12.2rem;
  }

  .headline-main{
      font-size: 6.7rem;
      letter-spacing: .1rem;
      font-weight: 700;
  }

  .headline{
      font-size: 6.7rem;
      letter-spacing: .1rem;
      font-weight: 400;
  }

  .line{
      max-width: 17.4rem;
  }

  .restaurant-info{
      display: flex;
      align-items: center;
  }

  .restaurant-info > div{
      flex: 1;
  }

  .padding-right{
      padding-right: 7rem;
  }

  .footer-content{
      max-width: 77.5rem;
      margin: auto;
  }

  .footer-content-about{
      max-width: 51.3rem;
      margin: 0 auto 5.4rem;
  }

  .footer-content-divider{
      display: flex;
      justify-content: space-between;
  }

  .social-media,
  .newsletter-form{
      width: 100%;
      max-width: 27.3rem;
      margin: 0 1rem;
  }

  .social-icons i{
      opacity: 1;
  }

  .newsletter-btn{
      margin-left: 15rem;
  }
}

/*Animations*/
@keyframes fadeUp {
  0%{
      transform: translateY(4rem);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes scale {
  0% {
      transform: scale(2);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes grow {
  0% {
      width: 0;
  }
  100% {
      opacity: 1;
      width: 100%;
  }
}

@keyframes spin {
  0% {
      transform: rotate(0);
  }
  100% {
      opacity: 1;
      transform: rotate(-360deg);
  }
}

@keyframes fadeDown {
  0%{
      transform: translateY(-1rem);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes up {
  0%{
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: translateY(-1rem);
  }
} 