<%- include("partials/header"); -%>
<h1 class="headline-main">Android Development</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Courses-->
        <li>
          <div class="timeline-content">
            <h1>Android Fundamentals by Google</h1>
            <a href="https://www.udacity.com/course/new-android-fundamentals--ud851"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Basics Nanodegree by Google 💲</h1>
            <a href="https://www.udacity.com/course/android-basics-nanodegree-by-google--nd803"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Nanodegree by Google 💲</h1>
            <a href="https://www.udacity.com/course/android-developer-nanodegree-by-google--nd801"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--Books-->
    
        <li>
          <div class="timeline-content">
            <h1>Effective Java</h1>
            <a href="https://www.oreilly.com/library/view/effective-java-3rd/9780134686097/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Programming by Big Nerd Ranch</h1>
            <a href="https://www.bignerdranch.com/books/android-programming/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Professional Android by Reto Meier, Ian Lake</h1>
            <a href="https://www.wiley.com/en-us/Professional+Android%2C+4th+Edition-p-9781118949528"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Kotlin for Android Developers</h1>
            <a href="https://leanpub.com/kotlin-for-android-developers"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Development with Kotlin</h1>
            <a href="https://www.packtpub.com/application-development/android-development-kotlin"><p>Click Here</p></a>
          </div>
        </li>
    
    
        <!--Podcasts-->
    
        <li>
          <div class="timeline-content">
            <h1>Fragmented</h1>
            <a href="https://fragmentedpodcast.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Backstage</h1>
            <a href="http://androidbackstage.blogspot.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>The Context</h1>
            <a href="https://github.com/artem-zinnatullin/TheContext-Podcast"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Developers Backstage</h1>
            <a href="https://androidbackstage.blogspot.com/"><p>Click Here</p></a>
          </div>
        </li>
    
    
        <!--Blogs-->
        <li>
          <div class="timeline-content">
            <h1>Android Hive</h1>
            <a href="https://www.androidhive.info/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>JakeWharton's Blog</h1>
            <a href="https://jakewharton.com/blog/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Official Android Developer on Medium</h1>
            <a href="https://medium.com/androiddevelopers"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Developers Blog</h1>
            <a href="https://android-developers.googleblog.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Arsenal</h1>
            <a href="https://android-arsenal.com/"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--Newsletter-->
        <li>
          <div class="timeline-content">
            <h1>Android Weekly</h1>
            <a href="https://androidweekly.net/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Developer Newsletter by Google</h1>
            <a href="https://developer.android.com/newsletter/"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--Flutter-->
    
        <li>
          <div class="timeline-content">
            <h1>Flutter Documentation</h1>
            <a href="http://flutter.io/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Build Native Mobile Apps with Flutter by Google</h1>
            <a href="https://in.udacity.com/course/build-native-mobile-apps-with-flutter--ud905"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Learn Flutter & Dart to Build iOS & Android Apps 💲 </h1>
            <a href="https://www.udemy.com/learn-flutter-dart-to-build-ios-android-apps/"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--React Native-->
        <li>
          <div class="timeline-content">
            <h1>React Native Documentation</h1>
            <a href="https://facebook.github.io/react-native/docs/getting-started"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>React Native Express</h1>
            <a href="http://www.reactnativeexpress.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>The Complete React Native and Redux Course 💲</h1>
            <a href="https://www.udemy.com/the-complete-react-native-and-redux-course/"><p>Click Here</p></a>
          </div>
        </li>
  </div>
</div>
<%- include("partials/footer"); -%>
