<%- include("partials/header"); -%>
<h1 class="headline-main">Android Development</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Courses-->
        <li>
          <div class="timeline-content">
            <h1>Android Fundamentals by Google</h1>
            <a href="https://www.udacity.com/course/new-android-fundamentals--ud851"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Basics Nanodegree by Google</h1>
            <a href="https://www.udacity.com/course/android-basics-nanodegree-by-google--nd803"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Nanodegree by Google</h1>
            <a href="https://www.udacity.com/course/android-developer-nanodegree-by-google--nd801"><p>Click Here</p></a>
          </div>
        </li>
    
    
        <!--Certificate-->
    
        <li>
          <div class="timeline-content">
            <h1>Associate Android Developer</h1>
            <a href="https://developers.google.com/training/certification/associate-android-developer/"><p>Click Here</p></a>
          </div>
        </li>
    
    
        <!--Books-->
    
        <li>
          <div class="timeline-content">
            <h1>Effective Java</h1>
            <a href="https://www.oreilly.com/library/view/effective-java-3rd/9780134686097/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Programming by Big Nerd Ranch</h1>
            <a href="https://www.bignerdranch.com/books/android-programming/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Professional Android by Reto Meier, Ian Lake</h1>
            <a href="https://www.wiley.com/en-us/Professional+Android%2C+4th+Edition-p-9781118949528"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Kotlin for Android Developers</h1>
            <a href="https://leanpub.com/kotlin-for-android-developers"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Development with Kotlin</h1>
            <a href="https://www.packtpub.com/application-development/android-development-kotlin"><p>Click Here</p></a>
          </div>
        </li>
    
    
        <!--Podcasts-->
    
        <li>
          <div class="timeline-content">
            <h1>Fragmented</h1>
            <a href="https://fragmentedpodcast.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Backstage</h1>
            <a href="http://androidbackstage.blogspot.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>The Context</h1>
            <a href="https://github.com/artem-zinnatullin/TheContext-Podcast"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Developers Backstage</h1>
            <a href="https://androidbackstage.blogspot.com/"><p>Click Here</p></a>
          </div>
        </li>
    
    
        <!--Blogs-->
        <li>
          <div class="timeline-content">
            <h1>Android Hive</h1>
            <a href="https://www.androidhive.info/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>JakeWharton's Blog</h1>
            <a href="https://jakewharton.com/blog/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Official Android Developer on Medium</h1>
            <a href="https://medium.com/androiddevelopers"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Developers Blog</h1>
            <a href="https://android-developers.googleblog.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Arsenal</h1>
            <a href="https://android-arsenal.com/"><p>Click Here</p></a>
          </div>
        </li>
    
    
    
        <!--References-->
    
        <li>
          <div class="timeline-content">
            <h1>Android Developer Page</h1>
            <a href="https://developer.android.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Kotlin Documentation</h1>
            <a href="https://kotlinlang.org/docs/reference/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Jetpack</h1>
            <a href="https://developer.android.com/jetpack/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Material Design</h1>
            <a href="https://material.io/"><p>Click Here</p></a>
          </div>
        </li>
    
    
        <!--Publish-->
    
    
        <li>
          <div class="timeline-content">
            <h1>Google Playstore</h1>
            <a href="https://play.google.com/apps/publish/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Google Playstore (Step By Step)</h1>
            <a href="https://github.com/dipakkr/A-to-Z-Resources-for-Students/blob/master/Android/Publish.md"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Amazon App Market</h1>
            <a href="https://www.amazon.com/b?node=2350149011"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>APTOIDE</h1>
            <a href="https://www.aptoide.com/page/publishers"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Appszoom</h1>
            <a href="http://www.appszoom.com/developers"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Getjar</h1>
            <a href="http://developer.getjar.mobi/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Opera Mobile Store</h1>
            <a href="https://publishers.apps.opera.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Mobango</h1>
            <a href="http://developer.mobango.com/view/homedeveloper.php?developerHeader=1"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>SlideME</h1>
            <a href="http://slideme.org/developers"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>1Mobile</h1>
            <a href="http://1mobile-market-download.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Post your project and get in touch with top mobile development companies</h1>
            <a href="https://www.appfutura.com/app-projects"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>C.net</h1>
            <a href="https://www.amazon.com/b?node=2350149011"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Appsgeyser</h1>
            <a href="https://www.appsgeyser.com/create/start"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>F-Droid</h1>
            <a href="https://bit.ly/3hGabpK"><p>Click Here</p></a>
          </div>
        </li>
    
    
    
        <!--Misc Resources-->
    
        <li>
          <div class="timeline-content">
            <h1>Android Arsenal - Android Libraries Directory</h1>
            <a href="https://android-arsenal.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Asset Studio</h1>
            <a href="https://romannurik.github.io/AndroidAssetStudio/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Udacity Free Course</h1>
            <a href="https://classroom.udacity.com/courses/ud905"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--Newsletter-->
        <li>
          <div class="timeline-content">
            <h1>Android Weekly</h1>
            <a href="https://androidweekly.net/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Android Developer Newsletter by Google</h1>
            <a href="https://developer.android.com/newsletter/"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--Flutter-->
        <li>
          <div class="timeline-content">
            <h1>Flutter</h1>
            Flutter is Google’s mobile app SDK for crafting high-quality native interfaces on iOS and Android in record time.
            Flutter works with existing code, is used by developers and organizations around the world, and is free and open source.😍
          </div>
        </li>
    
        <li>
          <div class="timeline-content">
            <h1>Flutter Official Documentation</h1>
            <a href="http://flutter.io/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Build Native Mobile Apps with Flutter by Google</h1>
            <a href="https://in.udacity.com/course/build-native-mobile-apps-with-flutter--ud905"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Learn Flutter & Dart to Build iOS & Android Apps (Paid) </h1>
            <a href="https://www.udemy.com/learn-flutter-dart-to-build-ios-android-apps/"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--React Native-->
        <li>
          <div class="timeline-content">
            <h1>React Native</h1>
            With React Native, you don't build a "mobile web app", an "HTML5 app", or a "hybrid app".
            You build a real mobile app that's indistinguishable from an app built using Objective-C or Java.
            React Native uses the same fundamental UI building blocks as regular iOS and Android apps.
            You just put those building blocks together using JavaScript and React.
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Official Documentation</h1>
            <a href="https://facebook.github.io/react-native/docs/getting-started"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>React Native Express [Free]</h1>
            <a href="http://www.reactnativeexpress.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Fundamentals of Data Preprocessing at ATH LEAPS</h1>
            <a href="https://www.udemy.com/the-complete-react-native-and-redux-course/"><p>Click Here</p></a>
          </div>
        </li>
  </div>
</div>
<%- include("partials/footer"); -%>
