<%- include("partials/header"); -%>
<h1 class="headline-main">Angular</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
      <!--Videos-->

      <li>
        <div class="timeline-content">
          <h1>
            Angular 7 - The Complete Guide by Maximilian Schwarzmüller 💲
          </h1>
          <a href="https://www.udemy.com/the-complete-guide-to-angular-2/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            The Complete Angular Course: Beginner to Advanced by Mosh Hamedani 💲
          </h1>
          <a href="https://www.udemy.com/the-complete-angular-master-class/"
            ><p>Click Here</p></a
          >
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>
            Learn Angular 7 in 50 minutes
          </h1>
          <a href="https://www.youtube.com/watch?v=5wtnKulcquA"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            Build your first Angular app
          </h1>
          <a href="https://scrimba.com/g/gyourfirstangularapp"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <!--Inspiration-->
      <li>
        <div class="timeline-content">
          <h1>
            Angular Expo
          </h1>
          <a href="https://angularexpo.com/"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            Made With Angular
          </h1>
          <a href="https://www.madewithangular.com/"><p>Click Here</p></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
