<%- include("partials/header"); -%>
<h1 class="headline-main">Bootstrap 4</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
    
        <!--Videos-->
        <li>
          <div class="timeline-content">
            <h1>Bootstrap4 Course with Projects</h1>
            <a href="https://courses.learncodeonline.in/learn/Complete-Bootstrap-4-course?"><p>Click Here</p></a>
          </div>
        </li>
          <li>
            <div class="timeline-content">
              <h1>Bootstrap4 blog top</h1>
              <a href="https://coursetro.com/posts/code/130/Learn-Bootstrap-4-Final-in-2018-with-our-Free-Crash-Course"><p>Click Here</p></a>
            </div>
          </li>
         <!--Material-->
         <li>
         <div class="timeline-content">
          <h1>BitDegree-BootStrap 4</h1>
          <a href="https://bitdegree.org/learn/bootstrap-css"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Bootstrap4 Documentation</h1>
          <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Bootstrap4 Tutorial for beginners</h1>
          <a href="https://www.quackit.com/bootstrap/bootstrap_4/tutorial/"><p>Click Here</p></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
