<%- include("partials/header"); -%>
<h1 class="headline-main">C# Language</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Materials-->
        <li>
          <div class="timeline-content">
            <h1>LearnCS</h1>
            <a href="https://www.learncs.org/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
            <div class="timeline-content">
              <h1>TutorialsPoint</h1>
              <a href="https://www.tutorialspoint.com/csharp/index.htm"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>SoloLearn</h1>
              <a href="https://www.sololearn.com/users/login"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Learn C# building a simple rpg</h1>
              <a href="https://scottlilly.com/learn-c-by-building-a-simple-rpg-index/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>DotNetPerls - C# Reference</h1>
              <a href="https://www.dotnetperls.com/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>The "Yellow Book": Introduction to C# Programming by Rob Miles</h1>
              <a href="http://www.csharpcourse.com/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>MSDN C# Fundamentals for Absolute Beginners</h1>
              <a href="https://channel9.msdn.com/Series/C-Fundamentals-for-Absolute-Beginners"><p>Click Here</p></a>
            </div>
          </li>
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
