<%- include("partials/header"); -%>
<h1 class="headline-main">C Language</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <li>
            <div class="timeline-content">
              <h1>Programiz</h1>
              <a href="https://www.programiz.com/c-programming"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Fresh2Refresh C programming</h1>
              <a href="https://fresh2refresh.com/c-programming/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Learn C</h1>
              <a href="https://www.learn-c.org/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Randu tutorials</h1>
              <a href="https://randu.org/tutorials/c/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>W3Schools C Tutorial</h1>
              <a href="https://www.w3schools.in/c-tutorial/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>SoloLearn: Learn to Code for Free!</h1>
              <a href="https://www.sololearn.com/"><p>Click Here</p></a>
            </div>
          </li>
          
        <li>
          <div class="timeline-content">
            <h1>Practice on HackerRank</h1>
            <a href="https://www.hackerrank.com/domains/c"><p>Click Here</p></a>
          </div>
        </li>
          </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
