<%- include("partials/header"); -%>
<h1 class="headline-main">C++ Language</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>]
      <li>
        <div class="timeline-content">
          <h1>Programiz</h1>
          <a href="https://www.programiz.com/cpp-programming"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Hackr.io Learn C++</h1>
          <a href="https://hackr.io/tutorials/learn-c-plus-plus"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Learn C++ Tutorial</h1>
          <a href="http://www.cplusplus.com/doc/tutorial/"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Fluent Cpp</h1>
          <a href="https://www.fluentcpp.com/"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>C++ Class | Google for Education</h1>
          <a href="https://developers.google.com/edu/c++/"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Tutorials Point</h1>
          <a href="https://www.tutorialspoint.com/cplusplus/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>GeeksForGeeks</h1>
          <a href="https://www.geeksforgeeks.org/c-plus-plus/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>C++ For Programmers | Udacity</h1>
          <a href="https://in.udacity.com/course/c-for-programmers--ud210"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>HackerRank</h1>
          <a href="https://www.hackerrank.com/domains/cpp"><p>Click Here</p></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
