<%- include("partials/header"); -%>
<h1 class="headline-main">Data Structures</h1>
<%-include("partials/parallax")-%> 
<div class="container">
    <div class="timeline course">
        <ul>
            <!--Books-->
            <li>
              <div class="timeline-content">
                <h1>Competitive Programming by Felix Halim and Steven Halim</h1>
                <a href="https://www.comp.nus.edu.sg/~stevenha/myteaching/competitive_programming/cp1.pdf"><p>Click Here</p></a>
              </div>
            </li>
            <li>
                <div class="timeline-content">
                  <h1>The Hitchhiker's Guide to the Programming Contests </h1>
                  <a href="https://comscigate.com/Books/contests/icpc.pdf"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Introduction to Algorithms(CLRS)</h1>
                  <a href="http://ressources.unisciel.fr/algoprog/s00aaroot/aa00module1/res/%5BCormen-AL2011%5DIntroduction_To_Algorithms-A3.pdf"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Algorithm Design by Kleinberg Tardos</h1>
                  <a href="http://www.cs.sjtu.edu.cn/~jiangli/teaching/CS222/files/materials/Algorithm%20Design.pdf"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Coding Interview University - Github</h1>
                  <!--Github linked repository-->
                  <a href="https://github.com/jwasham/coding-interview-university"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Algo & DS in different languages</h1>
                  <!--Github linked repository-->
                  <a href="https://github.com/ZoranPandovski/al-go-rithms"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Clean Code: A Handbook of Agile Software Craftsmanship 💲</h1>
                  <!--Paid book in amazon-->
                  <a href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Domain-Driven Design: Tackling Complexity 💲</h1>
                  <!--Paid book in amazon-->
                  <a href="https://www.amazon.com/Domain-Driven-Design-Tackling-Complexity-Software/dp/0321125215/"><p>Click Here</p></a>
                </div>
              </li>
        
        
              <!--Tutorials and Practice-->
            <li>
              <div class="timeline-content">
                <h1>Visual Algo</h1>
                <a href="https://visualgo.net/en"><p>Click Here</p></a>
              </div>
            </li>
              <li>
                <div class="timeline-content">
                  <h1>All Good Tutorials on Codeforces</h1>
                  <a href="http://codeforces.com/blog/entry/57282"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>DS & Algo + Maths + C++</h1>
                  <a href="http://codeforces.com/blog/entry/13529"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Data Structures and Algorithms </h1>
                  <a href="https://discuss.codechef.com/t/data-structures-and-algorithms/6599"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Problem Topics - Topic-wise list of problems</h1>
                  <a href="http://codeforces.com/blog/entry/55274"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Cracking the Coding Interview</h1>
                  <a href="https://www.crackingthecodinginterview.com/"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Excercism - Code practice and mentorship</h1>
                  <a href="https://exercism.io/"><p>Click Here</p></a>
                </div>
              </li>
              <li>
                <div class="timeline-content">
                  <h1>Leet Code</h1>
                  <a href="https://leetcode.com/"><p>Click Here</p></a>
                </div>
              </li>
          </ul>
    </div>
  </div>
<%- include("partials/footer"); -%>