<%- include("partials/header"); -%>
<h1 class="headline-main">Deep Learning</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
      <!--online courses-->
      <li>
        <div class="timeline-content">
          <h1>Coursera Deep Learning specialization</h1>
          <a href="https://www.coursera.org/specializations/deep-learning"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>fast.ai</h1>
          <a href="http://course.fast.ai/"><p>Click Here</p></a>
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Kaggle</h1>
          <a href="https://www.kaggle.com/learn/deep-learning/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Neural Networks and Deep Learning</h1>
          <a href="http://neuralnetworksanddeeplearning.com/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>MIT Handbook</h1>
          <a href="http://www.deeplearningbook.org/"><p>Click Here</p></a>
        </div>
      </li>

      <!--gitrepo-->
      <li>
        <div class="timeline-content">
          <h1>Top Deep Learning</h1>
          <a href="https://github.com/mbadry1/Top-Deep-Learning"
            ><p>Click Here</p></a
          >
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Dense Pose</h1>
          <a href="https://github.com/facebookresearch/DensePose"
            ><p>Click Here</p></a
          >
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Python Data Science Handbook</h1>
          <a href="https://github.com/jakevdp/PythonDataScienceHandbook"
            ><p>Click Here</p></a
          >
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Tensorflow Project Template</h1>
          <a href="https://github.com/MrGemy95/Tensorflow-Project-Template"
            ><p>Click Here</p></a
          >
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>visualIDL</h1>
          <a href="https://github.com/PaddlePaddle/VisualDL"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Learn Deep Learning in 6 Weeks</h1>
          <a href="https://github.com/llSourcell/Learn_Deep_Learning_in_6_Weeks"
            ><p>Click Here</p></a
          >
        </div>
      </li>
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
