<%- include("partials/header"); -%>
<h1 class="headline-main">Django</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Videos-->
    
        <li>
          <div class="timeline-content">
            <h1>Try Django (Learn Django from basics) | YouTube</h1>
            <a href="https://www.youtube.com/playlist?list=PLEsfXFp6DpzTD1BD1aWNxS2Ep06vIkaeW"><p>Click Here</p></a>
          </div>
        </li>
    
        <!-----Courses/Material---->
    
        <li>
            <div class="timeline-content">
              <h1>Django Documentation</h1>
              <a href="https://docs.djangoproject.com/en/2.1/"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>Django Girls Tutorial</h1>
              <a href="https://tutorial.djangogirls.org/en/"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>How to Use Chart.js with Django Blog</h1>
              <a href="https://simpleisbetterthancomplex.com/"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>Django Web Framework</h1>
              <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>Django Class-Based Views</h1>
              <a href="https://ccbv.co.uk/"><p>Click Here</p></a>
            </div>
        </li>
    
        <!--Books-->
    
        <li>
            <div class="timeline-content">
              <h1>Tango With Django Book</h1>
              <a href="https://www.tangowithdjango.com/book/"><p>Click Here</p></a>
            </div>
        </li>
    
    </ul>  
  </div>
</div>
<%- include("partials/footer"); -%>
