<%- include("partials/header"); -%>
<h1 class="headline-main">Go Language</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Books-->
        <li>
          <div class="timeline-content">
            <h1>Go by Progate</h1>
            <a href="https://progate.com/languages/go"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
        <div class="timeline-content">
            <h1>Go by Example</h1>
            <a href="https://gobyexample.com/"><p>Click Here</p></a>
          </div>
        </li>
          <!--Videos-->
          <li>
            <div class="timeline-content">
                <h1>Go Lanuguage Tutorial For Beginners by Edureka</h1>
                <a href="https://www.youtube.com/watch?v=Q0sKAMal4WQ"><p>Click Here</p></a>
              </div>
            </li>
    </ul>        
  </div>
</div>
<%- include("partials/footer"); -%>
