<%- include("partials/header"); -%>
<h1 class="headline-main">HTML & CSS</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
    
        <!--Videos-->
       
        <li>
          <div class="timeline-content">
            <h1>Intro to HTML/CSS: Making webpages</h1>
            <a href="https://www.khanacademy.org/computing/computer-programming/html-css"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Intro to HTML and CSS | Udacity</h1>
            <a href="https://in.udacity.com/course/intro-to-html-and-css--ud001-india"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Write quicker HTML5 and CSS 3 | Learn Code Online</h1>
            <a href="Write quicker HTML5 and CSS 3 | Learn Code Online"><p>Click Here</p></a>
          </div>
        </li>
        
        
        
        <li>
          <div class="timeline-content">
            <h1>freeCodeCamp</h1>
            <a href="https://www.freecodecamp.org/"><p>Click Here</p></a>
          </div>
        </li>
        
       
        
        
        
        
        <li>
          <div class="timeline-content">
            <h1>30 Seconds of CSS</h1>
            <a href="https://30-seconds.github.io/30-seconds-of-css/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>CSS Grid</h1>
            <a href="https://cssgrid.io/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>CSS Flexbox | Wes Bos (paid)</h1>
            <a href="https://flexbox.io/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>CSS-The Complete Guide (incl. Flexbox, Grid & Sass) (Udemy Paid) Good for beginners</h1>
            <a href="https://www.udemy.com/css-the-complete-guide-incl-flexbox-grid-sass/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Advanced CSS and SASS - (Udemy Paid)</h1>
            <a href="https://www.udemy.com/advanced-css-and-sass"><p>Click Here</p></a>
          </div>
        </li>
        
        
        
        <li>
          <div class="timeline-content">
            <h1>Flexbox Zombies not</h1>
            <a href="https://mastery.games/p/flexbox-zombies"><p>Click Here</p></a>
          </div>
        </li>
        
        
        
  <!--Material-->
  <li>
    <div class="timeline-content">
      <h1>HTML and CSS Tutorials | w3schools.com</h1>
      <a href="https://www.w3schools.com/html/default.asp"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>Flexbox Interactive</h1>
      <a href="https://codepen.io/enxaneta/full/adLPwv"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>HTML & CSS Catalog | Codecademy</h1>
      <a href="https://www.codecademy.com/catalog/language/html-css"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>Interneting is Hard</h1>
      <a href="https://internetingishard.com/html-and-css/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>HTML MDN Web Docs</h1>
      <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>CSS MDN Web Docs</h1>
      <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>Codrops CSS Reference</h1>
      <a href="https://tympanus.net/codrops/css_reference/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>The Odin Project</h1>
      <a href="https://www.theodinproject.com/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>HTML Dog Tutorials</h1>
      <a href="http://www.htmldog.com/guides/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>flexbox cheatsheet</h1>
      <a href="https://darekkay.com/dev/flexbox-cheatsheet.html"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>CSS Reference: A Visual CSS Cheat Sheet</h1>
      <a href="https://cssreference.io/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>HTML Reference: A Visual HTML Cheat Sheet Good for beginners</h1>
      <a href="https://htmlreference.io/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>Learn to Code HTML & CSS: Shay Howe</h1>
      <a href="https://learn.shayhowe.com/html-css/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>BitDegree-Learn HTML</h1>
      <a href="https://bitdegree.org/learn/html-basics"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>BitDegree-Learn CSS</h1>
      <a href="https://bitdegree.org/learn/css-basics"><p>Click Here</p></a>
    </div>
  </li>
  <!-- Learning Game-->
  <li>
    <div class="timeline-content">
      <h1>Flexbox Froggy | CSS Learning Game</h1>
      <a href="https://flexboxfroggy.com/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>CSS Grid Garden Game</h1>
      <a href="https://cssgridgarden.com/"><p>Click Here</p></a>
    </div>
  </li>
  
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
