<%- include("partials/header"); -%>
<h1 class="headline-main">Javascript</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
      <!--Tutorial-->

      <li>
        <div class="timeline-content">
          <h1>
            JS MDN Web Docs
          </h1>
          <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            The Odin Project
          </h1>
          <a href="https://www.theodinproject.com/courses/web-development-101/lessons/fundamentals-part-1"
            ><p>Click Here</p></a
          >
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>
            Introduction to JavaScript | freeCodeCamp
          </h1>
          <a href="https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            HTML Dog
          </h1>
          <a href="https://www.htmldog.com/guides/javascript/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            33 JS concepts every JavaScript developer should know
          </h1>
          <a href="https://github.com/leonardomso/33-js-concepts"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            30 Seconds of Code
          </h1>
          <a href="https://30secondsofcode.org/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            The Modern JavaScript Tutorial
          </h1>
          <a href="https://www.udemy.com/the-complete-angular-master-class/"
            ><p>Click Here</p></a
          >
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>
            JavaScript Docs and Live examples
          </h1>
          <a href="https://www.w3schools.com/js/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            JavaScript: Mostly Adequate Guide to Functional Programming
          </h1>
          <a href="https://mostly-adequate.gitbooks.io/mostly-adequate-guide/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            JavaScript: The Good Parts by Douglas Crockford 💲
          </h1>
          <a href="https://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            example.js | js by example | CodePen
          </h1>
          <a href="https://codepen.io/towc/post/examplejs-1-1"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            Foundations of Programming in JavaScript 
          </h1>
          <a href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6Zy51Q-x9tMWIv9cueOFTFA"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            BitDegree-JS Basics
          </h1>
          <a href="https://bitdegree.org/learn/javascript-basics"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            RegexOne | Regular Expression course
          </h1>
          <a href="https://regexone.com/"
            ><p>Click Here</p></a
          >
        </div>
      </li>
      <!--Video-->
      <li>
        <div class="timeline-content">
          <h1>
            Javascript30 | Wes Bos
          </h1>
          <a href="https://javascript30.com/"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            JavaScript Design Patterns | Udacity
          </h1>
          <a href="https://in.udacity.com/course/javascript-design-patterns--ud989"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>
            Javascript Tutorial for Beginner Complete Course 2018 | YouTube
          </h1>
          <a href="https://www.youtube.com/watch?v=PwsigsH4oXw"><p>Click Here</p></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
