<%- include("partials/header"); -%>
<h1 class="headline-main">Machine Learning</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Course-->
        <li>
          <div class="timeline-content">
            <h1>Machine Learning course by Stanford</h1>
            <a href="http://cs229.stanford.edu/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Machine Learning by Coursera</h1>
            <a href="https://www.coursera.org/learn/machine-learning"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Intro to Machine Learning with PyTorch</h1>
            <a href="https://www.udacity.com/course/intro-to-machine-learning-nanodegree--nd229"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Intro to Machine Learning with TensorFlow</h1>
            <a href="https://www.udacity.com/course/intro-to-machine-learning-with-tensorflow-nanodegree--nd230"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Reinforcement Learning by Georgia Tech</h1>
            <a href="https://www.udacity.com/course/reinforcement-learning--ud600"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Machine Learning and Data Science bootcamp</h1>
            <a href="https://courses.learncodeonline.in/learn/Machine-Learning-Bootcamp?tab=1"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Introduction to Machine Learning by Google</h1>
            <a href="https://developers.google.com/machine-learning/crash-course/ml-intro"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Applied Data Science with Python Specialization</h1>
            <a href="https://www.coursera.org/specializations/data-science-python"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Machine Learning by Kaggle</h1>
            <a href="https://www.kaggle.com/learn/overview"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--Git repo-->
        <li>
          <div class="timeline-content">
            <h1>Self taught path for Data Science</h1>
            <a href="https://github.com/ossu/data-science"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Machine Learning Tutorials</h1>
            <a href="https://github.com/ujjwalkarn/Machine-Learning-Tutorials"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Machine Learning cheatsheets for Stanford's CS 229</h1>
            <a href="https://github.com/afshinea/stanford-cs-229-machine-learning"><p>Click Here</p></a>
          </div>
        </li>
        <!--Research Papers-->
        <li>
          <div class="timeline-content">
            <h1>Machine Learning Cornell University</h1>
            <a href="https://arxiv.org/list/cs.LG/recent"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>IEEE </h1>
            <a href="https://ieeexplore.ieee.org/search/searchresult.jsp?newsearch=true&queryText=machine%20learning"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Research Gate</h1>
            <a href="https://www.researchgate.net/"><p>Click Here</p></a>
          </div> 
        </li>
        <li>
          <div class="timeline-content">
            <h1>Academic Torrent</h1>
            <a href="https://academictorrents.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Arxiv Sanity</h1>
            <a href="http://www.arxiv-sanity.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Openreview</h1>
            <a href="https://openreview.net/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Research Papers with code</h1>
            <a href="https://github.com/zziz/pwc"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Papers with code</h1>
            <a href="https://paperswithcode.com/"><p>Click Here</p></a>
          </div>
        </li>
        <!-- Test ML Models on Datasets -->
        <li>
          <div class="timeline-content">
            <h1>Kaggle</h1>
            <a href="https://www.kaggle.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Data.gov</h1>
            <a href="https://www.data.gov/"><p>Click Here</p></a>
          </div>
        </li>
        <!--Book-->
        <li>
          <div class="timeline-content">
            <h1>Introduction to Statistical Learning</h1>
            <a href="https://www.ime.unicamp.br/~dias/Intoduction%20to%20Statistical%20Learning.pdf"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--Videos-->
        <li>
          <div class="timeline-content">
            <h1>Machine Learning with Python</h1>
            <a href="https://www.youtube.com/playlist?list=PLQVvvaa0QuDfKTOs3Keq_kaG2P55YRn5v"><p>Click Here</p></a>
          </div>
        </li>
    
    
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
