<%- include("partials/header"); -%>
<h1 class="headline-main">Matlab</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Videos-->
    
        <li>
          <div class="timeline-content">
            <h1>MATLAB for Beginners | YouTube</h1>
            <a href="https://www.youtube.com/watch?v=qGiKv3-02vw"><p>Click Here</p></a>
          </div>
        </li>
    
        <!-----Courses---->
    
        <li>
            <div class="timeline-content">
              <h1>MATLAB Training by Mathworks</h1>
              <a href="https://matlabacademy.mathworks.com/"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>MATLAB for beginners edX</h1>
              <a href="https://www.edx.org/course/matlab-octave-beginners-epflx-matlabeoctavebeginnersx"><p>Click Here</p></a>
            </div>
        </li>
    
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
