<%- include("partials/header"); -%>
<h1 class="headline-main">Mongo DB</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Videos-->
    
        <li>
          <div class="timeline-content">
            <h1>MongoDB Tutorial for Beginners | YouTube</h1>
            <a href="https://www.youtube.com/watch?v=GtD93tVZDX4"><p>Click Here</p></a>
          </div>
        </li>
    
        <!-----Courses/Material---->
    
        <li>
            <div class="timeline-content">
              <h1>Courses and training by MongoDB University</h1>
              <a href="https://university.mongodb.com/"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>Understanding Mongoose Deep Population</h1>
              <a href="http://frontendcollisionblog.com/mongodb/2016/01/24/mongoose-populate.html"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>MongoDB full tutorial for beginners</h1>
              <a href="https://www.quackit.com/mongodb/tutorial/"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>MongoDB tutorial for intermediates</h1>
              <a href="https://www.guru99.com/mongodb-tutorials.html"><p>Click Here</p></a>
            </div>
        </li>
    
    </ul>
    
  </div>
</div>
<%- include("partials/footer"); -%>
