<%- include("partials/header"); -%>
<h1 class="headline-main">Nodejs</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
      <!--Videos-->
  
      <li>
        <div class="timeline-content">
          <h1>Node JS Tutorial for Beginners | YouTube</h1>
          <a href="https://www.youtube.com/watch?v=w-7RQ46RgxU&amp;list=PL4cUxeGkcC9gcy9lrvMJ75z9maRw4byYp"><p>Click Here</p></a>
        </div>
      </li>
  
      <li>
          <div class="timeline-content">
            <h1>Node.js API Design | YouTube</h1>
            <a href="https://www.youtube.com/playlist?list=PLzQWIQOqeUSMzMUEJA0XrOxJbX8WTiCJV"><p>Click Here</p></a>
          </div>
      </li>
  
      <!-----Courses---->
  
      <li>
          <div class="timeline-content">
            <h1>The Complete Node.js Developer Course | Udemy (Paid)</h1>
            <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/"><p>Click Here</p></a>
          </div>
      </li>
  
      <li>
          <div class="timeline-content">
            <h1>NodeSchool | Workshops Open Source</h1>
            <a href="https://nodeschool.io/"><p>Click Here</p></a>
          </div>
      </li>
  
      <li>
          <div class="timeline-content">
            <h1>Node.js Documentation</h1>
            <a href="https://nodejs.org/dist/latest-v8.x/docs/api/"><p>Click Here</p></a>
          </div>
      </li>
  
      <!--Books-->
  
      <li>
          <div class="timeline-content">
            <h1>Node.js Design Patterns by Mario Casciaro</h1>
            <a href="https://github.com/PacktPublishing/Node.js_Design_Patterns_Second_Edition_Code"><p>Click Here</p></a>
          </div>
      </li>
  
      <li>
          <div class="timeline-content">
            <h1>Node.js handbook by Flavio Copes</h1>
            <a href="https://flaviocopes.com/express-handbook/"><p>Click Here</p></a>
          </div>
      </li>
  
      <li>
          <div class="timeline-content">
            <h1>Mixu's Node book</h1>
            <a href="http://book.mixu.net/node/"><p>Click Here</p></a>
          </div>
      </li>
  
  </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
