<%- include("partials/header"); -%>
<h1 class="headline-main">PHP</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Tutorial-->
        <li>
          <div class="timeline-content">
            <h1>PHP Manual</h1>
            <a href="http://php.net/manual/en/index.php"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>W3Schools Tutorial</h1>
            <a href="https://www.w3schools.com/php/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Tutorial Point</h1>
            <a href="https://www.tutorialspoint.com/php/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>PHP with Database tutorial</h1>
            <a href="https://www.codeproject.com/Articles/759094/Step-by-Step-PHP-Tutorials-for-Beginners-Creating"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Guide for PHP and SQL connection with HTML form</h1>
            <a href="https://github.com/shauryauppal/PHP-Database-connection"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>PHP: The Right Way</h1>
            <a href="https://phptherightway.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>PHP: The Wrong Way</h1>
            <a href="http://www.phpthewrongway.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>BitDegree-Php</h1>
            <a href="https://bitdegree.org/learn/learn-php"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>PHP Best Practices</h1>
            <a href="https://phpbestpractices.org/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>PHP Pandas</h1>
            <a href="https://daylerees.com/php-pandas/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>PHP Internals Book</h1>
            <a href="http://www.phpinternalsbook.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Let's Build A Forum with Laravel and TDD</h1>
            <a href="https://laracasts.com/series/lets-build-a-forum-with-laravel"><p>Click Here</p></a>
          </div>
        </li>
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
