<%- include("partials/header"); -%>
<h1 class="headline-main">Prolog</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Books-->
        <li>
          <div class="timeline-content">
            <h1>Michael Spivey - An introduction to logic programming through Prolog</h1>
            <a href="https://spivey.oriel.ox.ac.uk/wiki/files/logprog/logic.pdf"><p>Click Here</p></a>
          </div>
        </li>
    </ul>        
  </div>
</div>
<%- include("partials/footer"); -%>
