<%- include("partials/header"); -%>
<h1 class="headline-main">Python</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Books-->
        <li>
          <div class="timeline-content">
            <h1>Learn Python | CodeAcademy</h1>
            <a href="https://www.codecademy.com/learn/learn-python"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Progate Python Classes</h1>
            <a href="https://progate.com/languages/python"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Intro to Python | Udacity </h1>
            <a href="https://www.udacity.com/404"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Python For Everybody</h1>
            <a href="https://www.coursera.org/specializations/python"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Write Better Python Functions</h1>
            <a href="https://jeffknupp.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Learning Python: From Zero to Hero</h1>
            <a href="https://www.freecodecamp.org/news/learning-python-from-zero-to-hero-120ea540b567/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Automate the Boring Stuff with Python</h1>
            <a href="https://automatetheboringstuff.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Think Python 2e - Green Tea Press</h1>
            <a href="http://greenteapress.com/thinkpython2/thinkpython2.pdf"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>A Byte of Python</h1>
            <a href="https://python.swaroopch.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Project Euler</h1>
            <a href="https://projecteuler.net/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Python Class By Google </h1>
            <a href="https://developers.google.com/edu/python/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Intro to Python for Data Science</h1>
            <a href="https://www.datacamp.com/courses/intro-to-python-for-data-science"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Python 3 for humans that want practical project exposure</h1>
            <a href="https://pythonprogramming.net/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Learn Python the Hard Way</h1>
            <a href="https://learnpythonthehardway.org/"><p>Click Here</p></a>
          </div>
        </li>
          <!--Videos-->
          <li>
            <div class="timeline-content">
              <h1>Video Tutorial for absolute beginners | YouTube</h1>
              <a href="https://www.youtube.com/playlist?list=PLQVvvaa0QuDe8XSftW-RAxdo6OmaeL85M"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>The New Boston Python | Youtube</h1>
              <a href="https://www.youtube.com/playlist?list=PL6gx4Cwl9DGAcbMi1sH6oAMk4JHw91mC_"><p>Click Here</p></a>
            </div>
          </li>
          <!-- GitHub Repo -->
          <li>
            <div class="timeline-content">
              <h1>A Whirlwind Tour of Python</h1>
              <a href="https://github.com/jakevdp/WhirlwindTourOfPython"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Python Data Science Handbook</h1>
              <a href="https://github.com/jakevdp/PythonDataScienceHandbook"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>The Algorithms Python</h1>
              <a href="https://github.com/TheAlgorithms/Python"><p>Click Here</p></a>
            </div>
          </li>
  </div>
</div>
<%- include("partials/footer"); -%>
