<%- include("partials/header"); -%>
<h1 class="headline-main">React</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Videos-->
      <li>
        <div class="timeline-content">
          <h1>React JS - Conference Videos</h1>
          <a href="https://www.reactjsvideos.com/"><p>Click Here</p></a>
        </div>
      </li>
  
  <li>
      <div class="timeline-content">
        <h1>Learn React for free | Scrimba</h1>
        <a href="https://scrimba.com/g/glearnreact"><p>Click Here</p></a>
      </div>
    </li>
    <li>
      <div class="timeline-content">
        <h1>Video Tutorials - Beginner to Intermediate | YouTube</h1>
        <a href="https://www.youtube.com/watch?v=JPT3bFIwJYA&list=PL55RiY5tL51oyA8euSROLjMFZbXaV7skS"><p>Click Here</p></a>
      </div>
    </li>
    <li>
      <div class="timeline-content">
        <h1>Complete React Tutorial (& Redux) | YouTube</h1>
        <a href="https://www.youtube.com/watch?v=OxIDLw0M-m0&list=PL4cUxeGkcC9ij8CfkAY2RAGb-tmkNwQHG"><p>Click Here</p></a>
      </div>
    </li>
    
    <li>
      <div class="timeline-content">
        <h1>FreeCodeCamp Articles</h1>
        <a href="https://medium.freecodecamp.org/search?q=react"><p>Click Here</p></a>
      </div>
    </li>
    
    <li>
      <div class="timeline-content">
        <h1>React 16 - The Complete Guide (incl. React Router 4 & Redux) 💲 - Worth it</h1>
        <a href="https://www.udemy.com/react-the-complete-guide-incl-redux/"><p>Click Here</p></a>
      </div>
    </li>
    
    
    <li>
      <div class="timeline-content">
        <h1>Modern React with Redux | Udemy 💲</h1>
        <a href="https://www.udemy.com/react-redux/"><p>Click Here</p></a>
      </div>
    </li>
    
    <li>
      <div class="timeline-content">
        <h1>React For Beginners | Wes Bos 💲</h1>
        <a href="https://reactforbeginners.com/"><p>Click Here</p></a>
      </div>
    </li>
    <li>
      <div class="timeline-content">
        <h1>Advanced React | Wes Bos </h1>
        <a href="https://advancedreact.com/"><p>Click Here</p></a>
      </div>
    </li>
  
  </li>
  <li>
    <div class="timeline-content">
      <h1>Modern React with Redux | Udemy 💲
      </h1>
      <a href="https://www.udemy.com/react-redux/"><p>Click Here</p></a>
    </div>
  </li>
  <!--Material-->
  <li>
    <div class="timeline-content">
      <h1>ReactJS Tutorial | Codecademy - Interactive</h1>
      <a href="https://www.codecademy.com/learn/react-101"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>Few Projects for every React Dev</h1>
      <a href="https://daveceddia.com/react-practice-projects/"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>Famous GitHub Repos</h1>
      <a href="https://medium.mybridge.co/react-js-open-source-for-the-past-year-2018-a7c553902010"><p>Click Here</p></a>
    </div>
  </li>
  <li>
    <div class="timeline-content">
      <h1>Hello World | React.js Org</h1>
      <a href="https://reactjs.org/docs/hello-world.html"><p>Click Here</p></a>
    </div>
  </li>
  
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
