<%- include("partials/header"); -%>
<h1 class="headline-main">Redux</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Tutorial-->
        <li>
            <div class="timeline-content">
              <h1>Redux Documentation</h1>
              <a href="https://redux.js.org/introduction"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Full-Stack Redux Tutorial</h1>
              <a href="http://teropa.info/blog/2015/09/10/full-stack-redux-tutorial.html"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Introduction to the Redux Challenges | freeCodeCamp</h1>
              <a href="https://learn.freecodecamp.org/front-end-libraries/redux"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Redux | Tyler McGinnis 💲</h1>
              <a href="https://tylermcginnis.com/courses/redux/"><p>Click Here</p></a>
            </div>
          </li>
        <!--Video-->
        <li>
          <div class="timeline-content">
            <h1>Redux Tutorial #1 - React js tutorial - How Redux Works | YouTube</h1>
            <a href="https://www.youtube.com/watch?v=1w-oQ-i1XB8&list=PLoYCgNOIyGADILc3iUJzygCqC8Tt3bRXt"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Getting Started with Redux</h1>
            <a href="https://egghead.io/courses/getting-started-with-redux"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Building React Applications with Idiomatic Redux</h1>
            <a href="https://egghead.io/courses/building-react-applications-with-idiomatic-redux"><p>Click Here</p></a>
          </div>
        </li>
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
