<%- include("partials/header"); -%>
<h1 class="headline-main">R Language</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!-- courses -->
        <li>
          <div class="timeline-content">
            <h1>R Studio</h1>
            <a href="https://rstudio.com/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Kaggle Kernels</h1>
            <a href="https://www.kaggle.com/kernels?sortBy=hotness&group=everyone&pageSize=20&language=R"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Swirl</h1>
            <a href="https://swirlstats.com/students.html"><p>Click Here</p></a>
          </div>
        </li>
        <!-- Books -->
        <li>
          <div class="timeline-content">
            <h1>Hands-On Programming with R by Garrett Grolemund</h1>
            <a href="https://rstudio-education.github.io/hopr/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Introduction to Data Science by Rafael A. Irizarry</h1>
            <a href="https://rafalab.github.io/dsbook/introduction-to-data-visualization.html"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>R for Data Science by Garrett Grolemund and Hadley Wickham</h1>
            <a href="https://r4ds.had.co.nz/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Advanced R Programming</h1>
            <a href="https://englianhu.files.wordpress.com/2016/05/advanced-r.pdf"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>R for Dummies</h1>
            <a href="http://sgpwe.izt.uam.mx/files/users/uami/gma/R_for_dummies.pdf"><p>Click Here</p></a>
          </div>
        </li>
        <!-- Blog -->
        <li>
          <div class="timeline-content">
            <h1>R Bloggers</h1>
            <a href="https://www.r-bloggers.com/"><p>Click Here</p></a>
          </div>
        </li>
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
