<%- include("partials/header"); -%>
<h1 class="headline-main">Ruby</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>

        <!--Videos-->
    
        <li>
            <div class="timeline-content">
                <h1>Learn Ruby by FreeCodeCamp</h1>
                <a href="https://www.youtube.com/watch?v=t_ispmWmdjY"><p>Click Here</p></a>
            </div>
        </li>
    
        <!--Videos-->
    
        <li>
            <div class="timeline-content">
                <h1>Learn Ruby on Rails by FreeCodeCamp</h1>
                <a href="https://www.youtube.com/watch?v=fmyvWz5TUWg"><p>Click Here</p></a>
            </div>
        </li>
    
        <!-----Courses---->
    
        <li>
            <div class="timeline-content">
              <h1>Learn Ruby | Codecademy</h1>
              <a href="https://www.codecademy.com/learn/learn-ruby"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>Learn Ruby, Dev Concept and More | Upskills with Upcase</h1>
              <a href="https://thoughtbot.com/upcase/practice"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>Learn Ruby | Sololearn</h1>
              <a href="https://www.sololearn.com/learning/1081"><p>Click Here</p></a>
            </div>
        </li>
    
        <!--Books-->
    
        <li>
            <div class="timeline-content">
              <h1>Learn Ruby The Hard Way</h1>
              <a href="https://learnrubythehardway.org/book/"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>Ruby on Rails Tutorial</h1>
              <a href="https://www.railstutorial.org/book"><p>Click Here</p></a>
            </div>
        </li>
    
        <li>
            <div class="timeline-content">
              <h1>Why's (Poignant) Guide to Ruby</h1>
              <a href="https://poignant.guide/"><p>Click Here</p></a>
            </div>
        </li>
    
    
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
