<%- include("partials/header"); -%>
<h1 class="headline-main">Scala</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Books-->
        <li>
            <div class="timeline-content">
              <h1>The Neophyte's Guide to Scala</h1>
              <a href="https://danielwestheide.com/scala/neophytes.html"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Programmin in Scala </h1>
              <a href="https://www.artima.com/pins1ed/"><p>Click Here</p></a>
            </div>
          </li>
          
        <!--Course-->
        <li>
            <div class="timeline-content">
              <h1>Functional Programming Principles in Scala</h1>
              <a href="https://www.coursera.org/learn/progfun1"><p>Click Here</p></a>
            </div>
          </li>
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
