<%- include("partials/header"); -%>
<h1 class="headline-main">Vue.js</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Tutorial-->
        <li>
            <div class="timeline-content">
              <h1>Vue School 💲</h1>
              <a href="https://vueschool.io/courses"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Scrimba</h1>
              <a href="https://scrimba.com/g/glearnvue"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Vue Cookbook</h1>
              <a href="https://vuejs.org/v2/cookbook/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Vue.js News</h1>
              <a href="https://news.vuejs.org/"><p>Click Here</p></a>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h1>Vue.js Showcase - Made With Vue.js</h1>
              <a href="https://madewithvuejs.com/"><p>Click Here</p></a>
            </div>
          </li>
        <!--Video-->
        <li>
            <div class="timeline-content">
              <h1>Getting started with VueJS 2</h1>
              <a href="https://www.youtube.com/watch?v=nyJSd6V2DRI"><p>Click Here</p></a>
            </div>
          </li>
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
