<%- include("partials/header"); -%>
<h1 class="headline-main">Web Accessibility</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Videos-->
        <li>
          <div class="timeline-content">
            <h1>A Video Tutorial on Web Accessibility for Impaired Users | YouTube
            </h1>
            <a href="https://www.youtube.com/watch?v=aqM6rV5IBlg&t=1s"><p>Click Here</p></a>
          </div>
        </li>
        
        <!--Material-->
    
    
        <li>
          <div class="timeline-content">
            <h1>Accessibility MDN Web Docs
            </h1>
            <a href="https://www.udemy.com/react-redux/https://developer.mozilla.org/en-US/docs/Learn/Accessibility"><p>click here</p></a>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Web Accessibility Tutorials
            </h1>
            <a href="https://www.w3.org/WAI/tutorials/"><p>Click Here</p></a>
          </div>
        </li>
       
        <li>
          <div class="timeline-content">
            <h1>WebAim Web Accessibility Resources and Tools
            </h1>
            <a href="https://webaim.org/resources/"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Web Accessibility Checklist - The A11Y Project
            </h1>
            <a href="https://a11yproject.com/checklist"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>ARIA - Accessibility | MDN
            </h1>
            <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA"><p>Click Here</p></a>
          </div>
        </li>
        </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
