<%- include("partials/header"); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header id="header">
      
        <div class="container">
          <nav class="navb">
            <div class="menutoggle">
              <i class="fas fa-bars"></i>
              <i class="fas fa-times"></i>
            </div>
            <a href="ml.html" class="logo"
              ><img
                src="../../assets/img/logo_of_webwiz-removebg-preview.png"
                alt=""
            /></a>
            <ul class="navlist">
              <li class="navitem">
                <a href="../../index.html" class="navlink">Home</a>
              </li>
              <li class="navitem">
                <a href="../../index.html#topics" class="navlink">Topics</a>
              </li>
              <li class="navitem">
                <a href="#footer" class="navlink">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!--Header ends-->
      <section class="hero" id="hero">
        <div class="container">
          <h1 class="headline-main">Machine Learning</h1>
          <div class="headline-description">
            <div class="seperator">
              <div class="line line-left"></div>
              <div class="asterisk"><i class="fas fa-asterisk"></i></div>
              <div class="line line-right"></div>
            </div>
          </div>
        </div>
      </section>
      <!--Hero ends-->
  
      <!--Roadmap-->
      <div class="container">
        <div class="timeline course">
          <ul>
            <li>
              <div class="timeline-content">
                <h1>Linear regression at ATH LEAPS</h1>
                <a href="https://bit.ly/324cFKa"><p>Click Here</p></a>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h1>Fundamentals of Data Preprocessing at ATH LEAPS</h1>
                <a href="https://bit.ly/3hGabpK"><p>Click Here</p></a>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h1>
                  Introduction to machine learning and statistical pattern
                  recognition
                </h1>
                <a href="http://cs229.stanford.edu/"><p>Click Here</p></a>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h1>Machine Learning crash course on Google</h1>
                <a href="https://developers.google.com/machine-learning/crash-course/"><p>Click Here</p></a>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h1>Practical Reinforcement Learning at Yandex Data School</h1>
                <a href="https://github.com/yandexdataschool/Practical_RL"><p>Click Here</p></a>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h1>Computational Linear Algebra</h1>
                <a href="https://github.com/yandexdataschool/Practical_RL"><p>Click Here</p></a>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h1>Reinforcement Learning by UCL</h1>
                <a href="https://www.davidsilver.uk/teaching/"><p>Click Here</p></a>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h1>Deep reinforcement learning at UC Berkeley</h1>
                <a href="http://rail.eecs.berkeley.edu/deeprlcourse/"><p>Click Here</p></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
</body>
</html>
 
<%- include("partials/footer") ; -%>