<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="img/logo_of_webwiz-removebg-preview.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Roadmap Project</title>
</head>
<body>
    <header>
        <div class="container">
            
            <nav class="navb">
                <div class="menutoggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="/" class="logo"><img src="img/logo_of_webwiz-removebg-preview.png" alt=""></a>
                <ul class="navlist">
                    <li class="navitem">
                        <a href="/" class="navlink">Home</a>
                    </li>
                    <li class="navitem">
                        <a href="/#topics" class="navlink">Topics</a>
                    </li>
                    <li class="navitem">
                        <a href="#footer" class="navlink">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>  

    <section class="hero" id="hero">
        <div class="container">
