<div class="headline-description">
    <div class="seperator">
      <div class="line line-left"></div>
      <div class="asterisk"><i class="fas fa-asterisk"></i></div>
      <div class="line line-right"></div>
    </div>
  </div>
</div>
</section>